<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 30px;
  justify-content: center;
}
.grid-item {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}
</style>
<div class="grid-container">
  <div class="grid-item">
    <a href="/blog/all-posts">Blog</a>
  </div>
  <div class="grid-item">
    <a class="external-link" target="_blank" href="https://keybase.io/jag3773/">Keybase</a>
  </div>
  <div class="grid-item">
    <a class="external-link" target="_blank" href="https://github.com/jag3773">GitHub</a>
  </div>
  <div class="grid-item">
    <a class="external-link" target="_blank" href="https://www.unfoldingword.org">unfoldingWord</a>
  </div>   
</div>
<div style="text-align: center; font-size: smaller">
  Copyright © 2023 Jesse Griffin. All original work licensed as <a class="external-link" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
</div>
