<style>
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}
</style>
<div class="grid-container">
  <div class="grid-item">
    <ul><li><a href="/blog/all-posts">Blog</a></li></ul>
  </div>
  <div class="grid-item">
    <ul>
      <li><a target="_blank" href="https://keybase.io/jag3773/">Keybase</a></li>
      <li><a target="_blank" href="https://github.com/jag3773">GitHub</a></li>
    </ul>
  </div>
  <div class="grid-item">
    <ul>
      <li><a target="_blank" href="https://www.unfoldingword.org">unfoldingWord</a></li>
    </ul>
  </div>   
</div>
<div style="text-align: center">
  Copyright © 2023 Jesse Griffin. All original work licensed as <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
</div>
