body {
    nav.filetree-sidebar {
        h1::before {
            content: " ";
            display: block;
            width: 100%;
            height: 3em;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(/favicon.svg);
            background-position: center;
        }
    }
    .navbar-inner {
        padding-left: 10px;
        h1::before {
            content: " ";
            display: inline-block;
            width: 1.2em;
            height: 1.2em;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(/favicon.svg);
            background-position: bottom;
            margin-right: 5px;
            margin-bottom: -4px;
        }
    }
    #floating-control {
        position: fixed;
        color: var(--link-color);
        bottom: 1vmax;
        right: 1vmax;
        font-size: 24px;
        z-index: 999999;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;
        }

        .svg-icon,
        i {
            cursor: pointer;
            height: 24px;
            width: auto;
        }

        #theme-switch {
            .light {
                display: none;
            }

            .dark {
                display: none;
            }

            .auto {
                display: none;
            }
        }

        #theme-switch.light {
            .light {
                display: inline;
            }
        }

        #theme-switch.dark {
            .dark {
                display: inline;
            }
        }

        #theme-switch.auto {
            .auto {
                display: inline;
            }
        }

    .fnote {
        display: none;
        background-color: var(--background-primary);
        border: 1px solid var(--text-accent);
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        z-index: 999;
    }

    .footnote-ref {
        line-height: 85%;

        .fnote-marker {
            background-color: var(--text-accent);
            padding: 2px 5px;
            color: white;
            border-radius: 4px;
            text-decoration: none;
            font-size: 0.7em;
            margin-top: -3px;
            &:hover {
                opacity: 0.7;
            }
        }
    }

    .shownote {
        display: block;
    }
}
